<div id='sync-success' class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Vzaar uploader
  </div>
  <div class="content">
    <div class="description">
      <p>Vzaar videos have been downloaded to local database</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button">
      Ok
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
