<div class="ui basic modal">
  <i class="close icon"></i>
  <div class="header">
    Invalid
  </div>
  <div class="image content">
    <div class="description">
      <p>The file type provided is not supported. Video must in format: asf,
        avi, flv, m4v, mov, mp4, mp4a, m4a, 3g2, mj2, wmv, mp3</p>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui basic inverted cancel button">
        Ok
      </div>
    </div>
  </div>
</div>
