<div class='row'>
</div>
<div class='row'>
  <div class="four wide column">
  </div>
  <div class="ui message">
    <p>No vzaar settings provided. Provide configuration and restart server</p>
  </div>
</div>
